body {
    background-color: #F4F2E1;
}

/*Panel logowania*/

.login-form{
    width: 300px;
    margin: 150px auto 0 auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding-bottom: 10px;
}

.header{
    height: 25px;
    font-size: 1.2em;
    width: auto;
    background-color: rgb(11, 23, 30);
    text-align: center;
    color: white;
    border-radius: 10px 10px 0 0;
}

.login-control{
    margin: 14px;
    width: 245px;
}

.login-btn{
    display: block;
    margin: 0 auto;
}

.custom-alert{
    text-align: center;
    font-weight: bold;
    margin-bottom: 0!important;
}

.validation-message{
    color: red;
    text-align: center;
    margin-bottom: 10px;
    display: block;
}

/*Panel administratora*/

#site{

}

#menu-area{
    width: auto;
    height: 33px;
    border-bottom: 2px solid black;
    padding: 5px 0;
}

#menu-area ul{
    list-style: none;
}

#menu-area li{
    display: inline-block;
    padding: 0;
}

#content{
    margin-top: 50px;
    padding: 20px;
}

#left-col-settings{
    width: 70%;
    float: left;
    background-color: red;
}

#right-col-settings{
    width: 35%;
    float: right;
    background-color: blue;
}

#host-informations{
    background-color: yellow;
}

.log-textarea{
    width: 90%;
    margin: 0 auto;
    height: 550px!important;
    background-color: rgb(232,228,235);
    overflow: auto;

    -webkit-box-shadow: 0px 0px 7px 0px rgba(50, 50, 50, 0.69);
    -moz-box-shadow:    0px 0px 7px 0px rgba(50, 50, 50, 0.69);
    box-shadow:         0px 0px 7px 0px rgba(50, 50, 50, 0.69);
}

.log-button{
    display: block;
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
}

#left-col{
    float: left;
    width: 80%;
}

#right-col{

}

.settings-control{
    display: inline-block;
    width: 74%;
}

.settings-fieldset{
    border: 1px solid black;
    border-radius: 10px;
    margin: 30px;
    padding: 10px;
}

.settings-fieldset legend {
    width: inherit; 
    padding: 0 10px; 
    border-bottom: none;
    margin-bottom: -3px;
}

.settings-label{
    display: inline-block;
    width: 20%;
    font-weight: bold;
}

.settings-group{
    margin-top: 20px;
}

.btn-settings{
    width: 200px;
    margin: 30px auto 10px auto;
    display: block;
}

.left-col{
    width: 50%;
    float: left;
}

.right-col{
    width: 50%;
    float: right;
}

.clearfix{
    clear: both;
}

.admin-button a{
    color: white!important;
}

.table-button{
    height: 20px;
    padding: 0 10px;
}

fieldset{
    margin-top: 0!important;
}

.sub-header{
    display: block;
    font-size: 1.7em;
    margin-top: -10px;
    margin-bottom: 20px;
    text-align: center;
}