@model Blog.ViewModels.UserViewModel

@{
    ViewBag.Title = "EditAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="article">
    @using (Html.BeginForm("EditAccount", "Security"))
    {
        <div class="form-group">
            <label for="inputEmail">Strona internetowa</label>
            @Html.TextBoxFor(p => p.WebSite, new { @class = "form-control", placeholder = "Strona internetowa" })
            @Html.ValidationMessageFor(p => p.WebSite, null, new { @class = "validation-message" })
        </div>
        
        <button type="submit" class="btn btn-primary register-button">Edytuj dane</button>
        @Html.ActionLink("Edytuj hasło", "EditPassword", null, new { @class = "btn btn-primary right", style="float: right;"})
    }
</div>