@model Blog.ViewModels.AdminSettingsViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Administrator/Views/Shared/_Layout.cshtml";
}

<div id="left-col-settings">
    d
</div>
<div id="right-col-settings">
    <div id="host-informations">
        f
    </div>
</div>