@model List<Blog.ViewModels.ArchiveModuleViewModel>

<div class="box">
    <h2>
        Archiwum
    </h2>
    <ul>
        @for (int i = 0; i < Model.Count; i++)
        {
            <li>
                <a href="@Url.Action("Archive", "Archive", new{id = Model[i].Date.ToString("yyyyMM")})" style="width: 100%">
                    @Model[i].Date.ToString("MMMM") @Model[i].Date.Year (@Model[i].Count)
                </a>
            </li>
        }
    </ul>
</div>