@model Blog.ViewModels.SiteViewModel

<div class="article">
    <h3>@Html.ActionLink(Model.Title, "Site", "Sites", new{id = Model.Alias}, null)</h3>
    <div class="article-info">

    </div>

    <div class="article-content">
        @Html.Raw(Model.Content)
    </div>

    <div class="article-actions">
        <div class="read-more">
            @if (Model.IsReadMore)
            {
                @Html.ActionLink("Czytaj dalej...", "Site", "Sites", new { id = Model.Alias }, null)
            }
        </div>
    </div>
</div>