@model System.Web.Mvc.HandleErrorInfo

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Błąd";
}

<div class="article">
    <div style="text-align: center"><h3>Błąd - @Model.Exception.Message</h3></div>
    <div style="text-align: center; font-style: italic;">Jeżeli przewidzisz cztery możliwe sytuacje, w których coś może się nie udać i zdołasz je obejść, natychmiast wyłoni się piąta - prawo Murphy'iego</div>
</div>