@model Blog.ViewModels.CategoriesSiteViewModel

@{
    ViewBag.Title = Model.CategoryName;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="sub-header">Lista artykułów w kategorii <strong>@Model.CategoryName</strong> (@Model.Articles.Count)</div>

@for (int i = 0; i < Model.Articles.Count; i++)
{
    Html.RenderPartial("_ArticleTemplate", Model.Articles[i]);
}

@{Html.RenderPartial("_Pagination");}